<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logado</title>
    <style>
        body {
            margin: 0;
        }

        body * {
            box-sizing: border-box;
        }

        .main_res {
            width: 100vw;
            height: 100vh;
            background: linear-gradient(45deg, rgb(8, 8, 8), rgb(0, 0, 0));
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .rigth_res {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card_res {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background: #2f2841;
            border-radius: 20px;
            box-shadow: linear-gradient(45deg, rgb(160, 168, 168), yellow);
        }

        .card_res>h1 {
            color: #00ff88;
            font-weight: 800;
            margin: 0;
        }

        .card_res {
            width: 90%;
        }

        .card_res>h2 {
            color: linear-gradient(45deg, cyan, yellow);
        }
    </style>
</head>

<body>
    <div class="main_res">
        <div class="rigth_res">
            <div class="card_res">
                <h1>
                    <center>login confirmado!</center>
                </h1>
            </div>
        </div>
</body>

</html>